body {
    background-color: #81fefa; 
}

h1{
    text-align: center;
}

img{
    display: block;
    margin:0 auto;
}

p{
    text-align: center;
}

h2{
    border: 2px solid black;
    text-align: center;
}

table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #333; 
    padding: 10px; 
    text-align: left; 
}

th {
    background-color: #f2f2f2;
}
